[submodule "external/threadpool"]
	path = external/threadpool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "data/LiDAR"]
	path = data/LiDAR
	url = https://gitlab.craysoftware.com/MissouriMRDT/USGS_Data.git
