[submodule "external/threadpool"]
	path = external/threadpool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "external/rovecomm"]
	path = external/rovecomm
	url = https://github.com/MissouriMRDT/RoveComm_CPP.git
[submodule "data/USGS_Data"]
	path = data/USGS_Data
	url = https://github.com/MissouriMRDT/USGS_Data.git
