name: Build and Create Autonomy Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: read
  packages: read
  id-token: write

concurrency:
  group: "create-release"
  cancel-in-progress: false

jobs:
  build-and-upload:
    strategy:
      fail-fast: false
      matrix:
        os: [[self-hosted, linux, X64], [self-hosted, linux, ARM64]]
        architecture: [AMD64, ARM64]
        exclude:
          - os: [self-hosted, linux, X64]
            architecture: ARM64
          - os: [self-hosted, linux, ARM64]
            architecture: AMD64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup Action Environment
        if: always()
        run: |
          cd /opt
          if [ ! -d "Autonomy_Software" ]; then git clone --recurse-submodules -j8 https://github.com/MissouriMRDT/Autonomy_Software.git; fi

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Fix Dubious Ownership
        run: git config --global --add safe.directory /opt/Autonomy_Software

      - name: Checkout Tag
        run: |
          cd /opt/Autonomy_Software/
          git fetch --tags --force --recurse-submodules
          tag=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo $tag
          git checkout $tag
          git submodule update --recursive --init

      - name: Build and Create Executable
        run: |
          cd /opt/Autonomy_Software/
          if [ -d "build" ]; then rm -Rf build; fi
          mkdir build
          cd build
          cmake -DBUILD_INSTALL_MODE=ON ..
          make
          make package

      - name: Rename Executable
        run: mv /opt/Autonomy_Software/build/Autonomy_Software**.sh /opt/Autonomy_Software/build/Autonomy_Software_${{ matrix.architecture }}.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Autonomy-${{ matrix.architecture }}
          path: /opt/Autonomy_Software/build/Autonomy_Software_${{ matrix.architecture }}.sh

      - name: Cleanup Action Environment
        if: always()
        run: |
          cd /opt
          rm -rf /opt/Autonomy_Software

  create-release:
    runs-on: [self-hosted, linux, X64]
    needs: build-and-upload

    steps:
      - name: Setup Action Environment
        if: always()
        run: |
          cd /opt
          if [ ! -d "Autonomy_Software" ]; then git clone --recurse-submodules -j8 https://github.com/MissouriMRDT/Autonomy_Software.git; fi

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Fix Dubious Ownership
        run: git config --global --add safe.directory /opt/Autonomy_Software

      - name: Determine Version
        id: version
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Create Directory
        run: mkdir -p /opt/Autonomy_Software/artifacts/

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        id: download
        with:
          path: /opt/Autonomy_Software/artifacts/

      - name: Display Structure
        run: ls
        working-directory: /opt/Autonomy_Software/artifacts/

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          prerelease: false
          name: "${{ steps.version.outputs.version }}"
          files: "/opt/Autonomy_Software/artifacts/**"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cleanup Action Environment
        if: always()
        run: |
          cd /opt
          rm -rf /opt/Autonomy_Software
